<%= turbo_frame_tag demo_frame_id(@template_path) do %>
  <%= render "demos/frame" do %>
    <%= render "demos/stats" do %>
      <%= render "demos/stat", label: "Counter", value: @count.to_i, class: "!bg-indigo-600 dark:!bg-indigo-900",
        value_class: ["!text-indigo-200 dark:!text-indigo-300"], label_class: ["!text-indigo-400 dark:!text-indigo-500"] %>
    <% end %>

    <p class="my-8">
      The buttons below will invoke a reflex before Rails/Hotwire replaces the frame's content.
    </p>

    <%= tag.button "Basic Button", class: css("flowbite.button.cyan_to_blue", "block mb-8 ml-0"), data: { turbo_reflex: "IncrementReflex#increment", count: @count.to_i } %>

    <%= render component(:code), language: :erb, class: "text-sm",
      path: "ERB template", source_path: "app/views/demos/increment/frames/button_in_frame/basic_button.erb" %>

    <div class="my-4"></div>

    <%= render component(:code), language: :html, class: "text-sm",
      path: "Rendered HTML", source_path: "app/views/demos/increment/frames/button_in_frame/basic_button.html", erb: true %>
  <% end %>
<% end %>
