<%= turbo_frame_tag demo_frame_id(@template_path) do %>
  <%= render "demos/frame" do %>
    <%= render "demos/stats" do %>
      <%= render "demos/stat", label: "Counter", value: @count.to_i, class: "!bg-indigo-600 dark:!bg-indigo-900",
        value_class: ["!text-indigo-200 dark:!text-indigo-300"], label_class: ["!text-indigo-400 dark:!text-indigo-500"] %>
    <% end %>

    <p class="my-8">
      You can attach reflexes to any element.
    </p>

    <div class="relative m-6">
      <%= tag.p "P Tag", class: "cursor-pointer", data: { turbo_reflex: "IncrementReflex#increment", count: @count.to_i } %>
      <%= render flowbite(:notification_badge), value: @count.to_i, class: "!-left-4" if @count.to_i > 0 %>
    </div>

    <%= tag.div class: "cursor-pointer m-6 relative", data: { turbo_reflex: "IncrementReflex#increment", count: @count.to_i } do %>
      DIV Tag
      <%= render flowbite(:notification_badge), value: @count.to_i, class: "!-left-4" if @count.to_i > 0 %>
    <% end %>

    <%= tag.span class: "cursor-pointer m-6 mb-12 block relative", data: { turbo_reflex: "IncrementReflex#increment", count: @count.to_i } do %>
      SPAN Tag
      <%= render flowbite(:notification_badge), value: @count.to_i, class: "!-left-4" if @count.to_i > 0 %>
    <% end %>

    <%= render component(:code), language: :erb, class: "text-sm",
      path: "ERB template", source_path: "app/views/demos/increment/frames/elements_in_frame/elements.erb" %>

    <div class="my-4"></div>

    <%= render component(:code), language: :html, class: "text-sm",
      path: "Rendered HTML", source_path: "app/views/demos/increment/frames/elements_in_frame/elements.html", erb: true %>
  <% end %>
<% end %>
