<%= turbo_frame_tag demo_frame_id(@template_path) do %>
  <%= cache session[:button_in_frame_count].to_i do %>
    <%= render "frames/frame" do %>
      <%= render "stats/stats" do %>
        <%= render "stats/stat", label: "Counter", value: session[:button_in_frame_count].to_i, class: "!bg-indigo-600 dark:!bg-indigo-900",
          value_class: ["!text-indigo-200 dark:!text-indigo-300"], label_class: ["!text-indigo-400 dark:!text-indigo-500"] %>
      <% end %>

      <p class="my-8">
        The buttons below will invoke a reflex before Rails/Hotwire replaces the frame's content.
      </p>

      <%= button_tag class: css("flowbite.button.cyan_to_blue", "block mb-8 ml-0 relative"),
        data: { turbo_reflex: "IncrementReflex#increment", session_key: :button_in_frame_count } do %>
        Basic Button
        <%= render flowbite(:notification_badge), value: session[:button_in_frame_count].to_i if session[:button_in_frame_count].to_i > 0 %>
      <% end %>

      <%= render component(:code), language: :ruby, class: "text-sm",
        path: "app/reflexes/increment_reflex.rb", source_path: "app/views/codes/increment/reflex.rb" %>

      <div class="my-8"></div>

      <%= render component(:code), language: :ruby, class: "text-sm",
        path: "app/controllers/demos_controller.rb", source_path: "app/views/codes/increment/controller.rb" %>

      <div class="my-8"></div>

      <%= render component(:code), language: :erb, class: "text-sm",
        path: "app/views/demos/show.html.erb", source_path: "app/views/codes/increment/button_in_frame/show.erb" %>

      <div class="my-8"></div>

      <%= render component(:code), language: :html, class: "text-sm",
        path: "Rendered HTML for: /demo", source_path: "app/views/codes/increment/button_in_frame/show.html", erb: true %>


      <%= render component(:divider), class: "my-12" %>

      <%= button_to frame_path(params[:id]), method: :patch,
        class: css("flowbite.button.cyan_to_blue", "block mb-8 ml-0 relative"),
        form: { data: { turbo_reflex: "IncrementReflex#increment", session_key: :button_in_frame_count } } do %>
        Form Button <small class="ml-2 font-mono opacity-50">button_to</small>
        <%= render flowbite(:notification_badge), value: session[:button_in_frame_count].to_i if session[:button_in_frame_count].to_i > 0 %>
      <% end %>

      <%= render component(:code), language: :ruby, class: "text-sm",
        path: "app/reflexes/increment_reflex.rb", source_path: "app/views/codes/increment/reflex.rb" %>

      <div class="my-8"></div>

      <%= render component(:code), language: :ruby, class: "text-sm",
        path: "app/controllers/demos_controller.rb", source_path: "app/views/codes/increment/controller.rb" %>

      <div class="my-8"></div>

      <%= render component(:code), language: :erb, class: "text-sm",
        path: "app/views/demos/show.html.erb", source_path: "app/views/codes/increment/button_in_frame/show_form.erb" %>

      <div class="my-8"></div>

      <%= render component(:code), language: :html, class: "text-sm",
        path: "Rendered HTML for: /demo", source_path: "app/views/codes/increment/button_in_frame/show_form.html", erb: true %>
    <% end %>
  <% end %>
<% end %>
