<%= turbo_frame_tag demo_frame_id(@template_path) do %>
  <%= render "frames/frame" do %>
    <%= render "stats/stats" do %>
      <%= render "stats/stat", label: "Counter", value: session[:elements_in_frame_count].to_i, class: "!bg-indigo-600 dark:!bg-indigo-900",
        value_class: ["!text-indigo-200 dark:!text-indigo-300"], label_class: ["!text-indigo-400 dark:!text-indigo-500"] %>
    <% end %>

    <p class="my-8">
      You can attach reflexes to any element.
    </p>

    <div class="inline-block relative mb-4">
      <%= tag.p "P Tag", class: "cursor-pointer", data: { turbo_reflex: "IncrementReflex#increment", session_key: :elements_in_frame_count } %>
      <%= render flowbite(:notification_badge), value: session[:elements_in_frame_count].to_i, class: "!-right-4" if session[:elements_in_frame_count].to_i > 0 %>
    </div>

    <br>

    <%= tag.div class: "cursor-pointer mb-4 relative inline-block", data: { turbo_reflex: "IncrementReflex#increment", session_key: :elements_in_frame_count } do %>
      DIV Tag
      <%= render flowbite(:notification_badge), value: session[:elements_in_frame_count].to_i, class: "!-right-4" if session[:elements_in_frame_count].to_i > 0 %>
    <% end %>

    <br>

    <%= tag.span class: "cursor-pointer mb-12 inline-block relative", data: { turbo_reflex: "IncrementReflex#increment", session_key: :elements_in_frame_count } do %>
      SPAN Tag
      <%= render flowbite(:notification_badge), value: session[:elements_in_frame_count].to_i, class: "!-right-4" if session[:elements_in_frame_count].to_i > 0 %>
    <% end %>

    <%= render component(:code), language: :erb, class: "text-sm",
      path: "ERB template", source_path: "app/views/codes/increment/elements_in_frame/elements.erb" %>

    <div class="my-4"></div>

    <%= render component(:code), language: :html, class: "text-sm",
      path: "Rendered HTML", source_path: "app/views/codes/increment/elements_in_frame/elements.html" %>
  <% end %>
<% end %>
