<%= turbo_frame_tag demo_frame_id(@template_path) do %>
  <%= cache session[:form_in_frame_count].to_i do %>
    <%= render "frames/frame" do %>
      <%= render "stats/stats" do %>
        <%= render "stats/stat", label: "Counter", value: session[:form_in_frame_count].to_i, class: "!bg-indigo-600 dark:!bg-indigo-900",
          value_class: ["!text-indigo-200 dark:!text-indigo-300"], label_class: ["!text-indigo-400 dark:!text-indigo-500"] %>
      <% end %>

      <p class="my-8">
        You can attach reflexes to any element.
      </p>

      <%= form_with url: frame_path(params[:id]), method: :patch,
        class: "mb-8",
        data: { turbo_reflex: "CounterReflex#increment", session_key: :form_in_frame_count } do |form| %>
        <div class="inline-block relative">
          <%= form.submit "Submit Form", class: css("flowbite.button.cyan_to_blue", "cursor-pointer") %>
          <%= render flowbite(:notification_badge), value: session[:form_in_frame_count].to_i, class: "!-right-0" if session[:form_in_frame_count].to_i > 0 %>
        </div>
      <% end %>

      <%= render component(:code), language: :ruby, class: "text-sm",
        path: "app/reflexes/counter_reflex.rb", source_path: "app/views/codes/increment/reflex.rb" %>

      <div class="my-8"></div>

      <%= render component(:code), language: :ruby, class: "text-sm",
        path: "app/controllers/demos_controller.rb", source_path: "app/views/codes/increment/controller.rb" %>

      <div class="my-8"></div>

      <%= render component(:code), language: :erb, class: "text-sm",
        path: "app/views/demo/show.html.erb", source_path: "app/views/codes/increment/form_in_frame/show.erb" %>

      <div class="my-8"></div>

      <%= render component(:code), language: :html, class: "text-sm",
        path: "Rendered HTML for: /demos/3", source_path: "app/views/codes/increment/form_in_frame/show.html", erb: true %>
    <% end %>
  <% end %>
<% end %>
