<% :link_in_frame_count.tap do |session_key| %>
  <%= turbo_frame_tag demo_frame_id(@template_path) do %>
    <%= cache session[session_key].to_i do %>
      <%= render "frames/frame" do %>
        <%= render "stats/stats" do %>
          <%= render "stats/stat", label: "Counter", role: "counter", value: session[session_key].to_i, class: "!bg-indigo-600 dark:!bg-indigo-900",
            value_class: ["!text-indigo-200 dark:!text-indigo-300"], label_class: ["!text-indigo-400 dark:!text-indigo-500"] %>
        <% end %>


        <p class="my-8">
          The link below will invoke a command before Rails/Hotwire replaces the frame's content.
        </p>

        <%#
          This first one is under the assumption we still want to handle the default confirmation
        %>
        <%= link_to nil, id: demo_frame_id(@template_path, :trigger), class: css("flowbite.link.default", "inline-block relative mb-8 ml-0"),
          data: {
            turbo_confirm: "Default Are you sure?",
            turbo_command: "CounterCommand#increment",
            session_key: session_key } do %>
          Default Confirmation in Link
          <%= render flowbite(:notification_badge), value: session[session_key].to_i, class: "!-right-4" if session[:link_in_frame_count].to_i > 0 %>
        <% end %>
<br>
        <%= link_to nil, id: demo_frame_id(@template_path, :trigger), class: css("flowbite.link.default", "inline-block relative mb-8 ml-0"),
          data: {
            turbo_confirm: "Turbo Are you sure?",
            turbo_command: "CounterCommand#increment",
            session_key: session_key } do %>
          Turbo Confirmation in Link
          <%= render flowbite(:notification_badge), value: session[session_key].to_i, class: "!-right-4" if session[:link_in_frame_count].to_i > 0 %>
        <% end %>
        <%#
          We should probably consider a button_to as well. I think this will be a different type of submission and should be handled.
          In the turbo library the turbo-confirm-method seems to only use button_to
        %>



        <p class="my-8">
          The link below will invoke a command before Rails/Hotwire replaces the frame's content.
        </p>

        <%= link_to nil, id: demo_frame_id(@template_path, :trigger), class: css("flowbite.link.default", "inline-block relative mb-8 ml-0"),
          data: { turbo_command: "CounterCommand#increment", session_key: session_key } do %>
          Basic Link
          <%= render flowbite(:notification_badge), value: session[session_key].to_i, class: "!-right-4" if session[:link_in_frame_count].to_i > 0 %>
        <% end %>

        <%= render component(:code), language: :ruby, class: "text-sm",
          path: "app/commands/counter_command.rb", source_path: "app/views/codes/increment/command.rb" %>

        <div class="my-8"></div>

        <%= render component(:code), language: :ruby, class: "text-sm",
          path: "app/controllers/demos_controller.rb", source_path: "app/views/codes/increment/controller.rb" %>

        <div class="my-8"></div>

        <%= render component(:code), language: :erb, class: "text-sm",
          path: "app/views/demos/show.html.erb", source_path: "app/views/codes/increment/link_in_frame/show.erb" %>

        <div class="my-8"></div>

        <%= render component(:code), language: :html, class: "text-sm",
          path: "Rendered HTML for: /demos/#{@demo_index}", source_path: "app/views/codes/increment/link_in_frame/show.html", erb: true %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
