<%= turbo_frame_tag demo_frame_id(@template_path) do %>
  <%= cache turbo_reflex.ui_state do %>
    <%= render "frames/frame" do %>
      <%= render "stats/stats" do %>
        <%= render "stats/stat", label: "Counter", value: turbo_reflex.ui_state.fetch(:link_in_frame_count, 0), class: "!bg-indigo-600 dark:!bg-indigo-900",
          value_class: ["!text-indigo-200 dark:!text-indigo-300"], label_class: ["!text-indigo-400 dark:!text-indigo-500"] %>
      <% end %>

      <p class="my-8">
        The link below will invoke a reflex before Rails/Hotwire replaces the frame's content.
      </p>

      <%= link_to nil, class: css("flowbite.link.default", "inline-block relative mb-8 ml-0"),
        data: { turbo_reflex: "CounterReflex#increment", ui_state_key: :link_in_frame_count } do %>
        Basic Link
        <%= render flowbite(:notification_badge), value: turbo_reflex.ui_state.fetch(:link_in_frame_count, 0), class: "!-right-4" if turbo_reflex.ui_state.fetch(:link_in_frame_count, 0) > 0 %>
      <% end %>

      <%= render component(:code), language: :ruby, class: "text-sm",
        path: "app/reflexes/counter_reflex.rb", source_path: "app/views/codes/increment/reflex.rb" %>

      <div class="my-8"></div>

      <%= render component(:code), language: :ruby, class: "text-sm",
        path: "app/controllers/demos_controller.rb", source_path: "app/views/codes/increment/controller.rb" %>

      <div class="my-8"></div>

      <%= render component(:code), language: :erb, class: "text-sm",
        path: "app/views/demos/show.html.erb", source_path: "app/views/codes/increment/link_in_frame/show.erb" %>

      <div class="my-8"></div>

      <%= render component(:code), language: :html, class: "text-sm",
        path: "Rendered HTML for: /demos/#{demo_index + 1}", source_path: "app/views/codes/increment/link_in_frame/show.html", erb: true %>
    <% end %>
  <% end %>
<% end %>
