<footer class="border-gray-200 dark:border-gray-700 fixed z-30 left-0 bottom-0 w-full border-t p-4 bg-white shadow md:p-6 xl:p-8 dark:bg-gray-800">
  <div class="flex flex-col justify-between lg:items-center lg:flex-row xl:mb-0">

    <%= link_to "https://github.com/hopsoft/turbo_reflex", rel: "nopener", target: "_blank", class: css("footer.link", "flex items-center") do %>
      <%= render icon(:github), class: "w-5 h-5 mr-2" %>
      <span class="tracking-tight opacity-70">Turbo</span><span class="mr-1 font-medium tracking-tight text-emerald-500">Reflex</span>
      <span class="text-xs font-extralight">is Open Source</span>
    <% end %>

    <%= link_to "https://twitter.com/hopsoft", rel: "nopener", target: "_blank", class: css("footer.link") do %>
      <span class="text-xs font-extralight">crafted by</span>
      <span class="text-blue-600 dark:text-blue-500">Hopsoft</span>
    <% end %>

    <%= link_to "https://www.clickfunnels.com/?utm_source=hopsoft&utm_medium=open-source&utm_campaign=turbo_reflex", rel: "nopener", target: "_blank", class: css("footer.link") do %>
      <span class="text-xs font-extralight">sponsored by</span>
      <span class="text-gray-800 dark:text-gray-300">ClickFunnels</span>
    <% end %>

    <div class="flex-1 text-right">
      <%= render "spinners/pink" %>
    </div>
  </div>
</footer>
