<!DOCTYPE html>
<html lang="en" class="h-full dark">
  <head>
    <title>TurboBoost Commands</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full antialiased dark:bg-gray-900 bg-gray-50/30">
    <% cache params.to_s do %>
      <%= render "navbars/navbar" %>
      <%= render "sidebars/sidebar" %>
    <% end %>
    <main class="p-4 pt-20 md:ml-64">
      <%= render "breadcrumbs/breadcrumbs" %>
      <%= yield %>
    </main>
  </body>
</html>
