<section>
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md">
      <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">
        Unlock the true potential of Turbo Frames with TurboBoost Commands 🚀
      </h2>

      <p class="mb-4 text-gray-500 sm:text-xl dark:text-gray-400">
        Want to supercharge your Rails/Hotwire applications?
        <span class="text-gray-900 dark:text-white">Look no further!</span>
        You just discovered the ultimate suite of tools that will simplify and accelerate your projects.
      </p>
    </div>

    <div class="mt-6 max-w-screen-md">
      <%= link_to installations_path, class: "inline-flex justify-center items-center py-3 px-5 mr-3 text-base font-medium text-center text-white rounded-lg focus:ring-4 bg-primary-700 dark:focus:ring-primary-900 hover:bg-primary-800 focus:ring-primary-300" do %>
        Get Started
        <%= render "heroicons/arrow_right", class: "ml-2 -mr-1 w-5 h-5", solid: true %>
      <% end %>
      <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 dark:text-white dark:border-gray-700 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
        View a Demo
      </a>
    </div>

    <div class="mt-10 mb-8 max-w-screen-md md:mb-14 md:mt-18">
      <h2 class="text-2xl font-bold tracking-tight text-gray-400 md:text-3xl dark:text-gray-600">
        Use TurboBoost Commands to <span class="text-gray-500 underline underline-offset-8 decoration-dotted">build better apps</span>, faster!
      </h2>
    </div>

    <div class="space-y-8 md:grid md:grid-cols-2 md:gap-12 md:space-y-0 lg:grid-cols-3">
      <%= render "features/feature", icon: :beaker, heading: "Hybrid Solutions" do %>
        Strict REST semantics for everything can have diminishing returns.
        TurboBoost <i>Commands</i> give you <em>more flexibility</em> by allowing you to "sprinkle"
        in remote procedure calls (RPC) when needed, reducing boilerplate and helping you focus on the task at hand.
      <% end %>

      <%= render "features/feature", icon: :square_3_stack_3d, heading: "Isolated Concerns" do %>
        Developing a <em>clean and maintainable</em> codebase is crucial.
        TurboBoost <i>Commands</i> help you avoid non-RESTful routes and minimize fat models and controllers.
        You'll write less code that's more organized, testable, and sustainable.
      <% end %>

      <%= render "features/feature", icon: :puzzle_piece, heading: "Seamless Integrations" do %>
        TurboBoost <i>Commands</i> have been designed to work perfectly with both Rails and Hotwire.
        They enhance your existing workflow...
        and you can introduce their game-changing techniques gradually to your current projects with <em>zero risk</em>.
      <% end %>

      <%= render "features/feature", icon: :hand_thumb_up, heading: "Standard Mechanics" do %>
        TurboBoost <i>Commands</i> are simply plain Ruby methods that are invoked by a Rails controller <code>before_action</code>.
        After they execute some discrete business logic, normal Rails behavior resumes control.
        It <em>couldn't be simpler</em>.
      <% end %>

      <%= render "features/feature", icon: :light_bulb, heading: "Conventional Concepts" do %>
        At a high level, TurboBoost <i>Commands</i> share the same mental model as popular client-side frameworks like React,
        but moving responsiblities to the server vastly <em>reduces the complexity</em> of triggering events, changing state, and re-rendering.
      <% end %>

      <%= render "features/feature", icon: :lightning_bolt, heading: "Reliable Protocols" do %>
        TurboBoost <i>Commands</i> use standard HTTP,
        so the tools you use for monitoring and optimizing normal web requests will also work for your reactive features...
        helping you build performant, reliable, and <em>great user experiences</em>.
      <% end %>
    </div>


</section>
