<% content_for :breadcrumbs do %>
  <%= render flowbite(:breadcrumb), html: "Home", href: root_path %>
  <%= render flowbite(:breadcrumb), html: "Demos", href: demos_path %>
  <%= render flowbite(:breadcrumb), html: "Increment", href: demo_path(:increment), active: true %>
<% end %>

<%= render component(:demos) do %>
  <h2 class="inline-flex items-center mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">
    <%= render heroicon(:calculator), class: "h-10 w-auto mr-3 text-blue-500" %>
    Increment
  </h2>
  <p class="mb-8 font-light text-blue-500 lg:text-xl">
    A simple counter <span class="opacity-50">(state is managed in the HTML)</span>
  </p>

  <%= render flowbite(:alert), type: :info, class: "flex items-center" do %>
    <%= render heroicon(:information_circle), class: "w-6 h-6 mr-2" %>
    See the <%= link_to "Get Started", doc_path(:start), class: css("flowbite.link.default", "mx-1") %> guide to learn how to install and setup TurboReflex.
  <% end %>

  <p class="my-10 text-2xl text-white">
    These demos introduce TurboReflex and show you how to use it in a Rails/Hotwire app.
  </p>

  <p class="my-6">
    Reflexes are simple Ruby classes that can be triggered by client-side events in a web browser.
    They are executed server-side by a
    <%= link_to "before filter", "https://guides.rubyonrails.org/action_controller_overview.html#filters", target: "_blank", rel: "noopener", class: css("flowbite.link.paragraph") %>
    in your Rails controllers.
  </p>
  <p class="my-4 font-light">
    The first several examples demonstrate how to use reflexes with Turbo Frames.
    <span class="text-blue-500">The last example demonstrates how to use reflexes <strong class="underline underline-offset-8">without frames</strong>.</span>
    <em>A technique that can significantly simplify your Hotwire code.</em>
  </p>

  <%= button_to session_path, method: :delete, class: css("flowbite.button.red_to_yellow", "my-12 flex items-center") do %>
    <%= render heroicon(:exclamation), class: "w-6 h-6 mr-2" %>
    Clear the session <small class="ml-2 opacity-60">(reset the state for all demos)</small>
  <% end %>

  <div class="grid gap-16 pt-16 -mt-10 sm:grid-cols-2 lg:grid-cols-1">
    <%= render "demos" do %>
      <%= render "demo", id: "link-in-frame-demo", title: "Links in a Turbo Frame" do %>
        <%= demo_turbo_frame_tag "frames/increment/link_in_frame" %>
      <% end %>

      <%= render "demo", id: "button-in-frame-demo", title: "Buttons in a Turbo Frame" do %>
        <%= demo_turbo_frame_tag "frames/increment/button_in_frame" %>
      <% end %>

      <%= render "demo", id: "form-in-frame-demo", title: "Forms in a Turbo Frame" do %>
        <%= demo_turbo_frame_tag "frames/increment/form_in_frame" %>
      <% end %>

      <%= render "demo", id: "elements-in-frame-demo", title: "Other elements in a Turbo Frame" do %>
        <%= demo_turbo_frame_tag "frames/increment/elements_in_frame" %>
      <% end %>

      <%= render "demo", id: "multiple-frames-demo", title: "Multiple Turbo Frames <small class='mx-2 font-extralight opacity-60'>(with targeting)</small>".html_safe do %>
        <%= demo_turbo_frame_tag "frames/increment/multiple_frame" %>
      <% end %>

      <%= render "demo", id: "rpc-over-http-demo",
        title: "Reflex without Turbo Frames <small class='mx-2 font-extralight text-blue-500'>(RPC over HTTP)</small>".html_safe do %>
        <%= render "increment_rpc" %>
      <% end %>
    <% end %>
  </div>
<% end %>
