<%= turbo_frame_tag "increment", data: { turbo_reflex_src: demo_path("increment") } do %>
  <%= render "components/turbo_frame" do %>
    <%= render "components/demo", title: "Increment", subtitle: "A simple increment demo" do %>

      <div class="grid grid-cols-1 w-full gap-2">
        <%= render "components/stats" do %>
          <%= render "components/stat", id: "stat-counter", title: "Counter", value: number_to_human(@value.to_i, precision: 0), class: token_list("bg-primary text-primary-content": @value.to_i > 0) %>
          <%= render "components/stat", id: "stat-fingerprint", title: "Request Fingerprint", value: SecureRandom.alphanumeric[0, 6].upcase, value_class: "font-mono" %>
          <%= render "components/stat", id: "stat-method", title: "HTTP Method", value: request.method, value_class: token_list("text-primary": request.get?, "text-secondary": !request.get?) %>
          <%= render "components/stat", id: "stat-reflex-requested", title: "Reflex Requested", value: turbo_reflex_requested?.to_s.upcase, value_class: token_list("text-success": turbo_reflex_requested?) %>
          <%= render "components/stat", id: "stat-reflex-performed", title: "Reflex Performed", value: turbo_reflex_performed?.to_s.upcase, value_class: token_list("text-success": turbo_reflex_performed?) %>
        <% end %>

        <% content_for :table_head, render("components/table_head", columns: ["", "Demo", "Code", "Description"]) %>
        <%= render "components/table" do %>
          <% # Standard Link .................................................................................. %>
          <tr>
            <td>1</td>
            <td><%= link_to "Standard Link", demo_path("increment"), id: "standard-link", class: "link link-accent" %></td>
            <td>
              <small class="block mockup-code">
                <pre><code>&lt;a href='...'&gt;</code></pre>
              </small>
            </td>
            <td>
              This is a standard link <kbd class="kbd kbd-sm text-accent">&lt;a&gt;</kbd> inside a Turbo Frame.
              <small class="block font-light opacity-75">
                Click should reload the frame's content without triggering a reflex.
              </small>
            </td>
          </tr>
          <% # Reflex Link .................................................................................... %>
          <tr>
            <td>2</td>
            <td>
              <%= link_to "Reflex Link", nil, id: "reflex-link", class: "link link-accent",
                data: { turbo_reflex: "IncrementReflex#increment", value: @value.to_i} %>
            </td>
            <td>
              <small class="block mockup-code">
                <pre><code>&lt;a </code><code class="text-accent">data-turbo-reflex</code><code>='...'&gt;</code></pre>
              </small>
            </td>
            <td>
              This is a reflex link <kbd class="kbd kbd-sm text-accent">&lt;a&gt;</kbd> inside a Turbo Frame.
              <small class="block font-light opacity-75">
                Click should trigger a reflex and then reload the frame's content.
              </small>
            </td>
          </tr>
          <% # Reflex Button .................................................................................. %>
          <tr>
            <td>3</td>
            <td>
              <%= button_tag "Reflex Button", id: "reflex-button", class: "btn btn-accent btn-outline",
                data: { turbo_reflex: "IncrementReflex#increment", value: @value.to_i } %>
            </td>
            <td>
              <small class="block mockup-code">
                <pre><code>&lt;button </code><code class="text-accent">data-turbo-reflex</code><code>='...'&gt;</code></pre>
              </small>
            </td>
            <td>
              This is a reflex <kbd class="kbd kbd-sm text-accent">&lt;button&gt;</kbd> inside a Turbo Frame.
              <small class="block font-light opacity-75">
                Click should trigger a reflex and then reload the frame's content.
              </small>
            </td>
          </tr>
          <% # Reflex Form .................................................................................... %>
          <tr>
            <td>4</td>
            <td>
              <%= form_with id: "reflex-form", url: demo_path("increment"), method: :patch,
                data: { turbo_reflex: "IncrementReflex#form_increment", value: @value.to_i } do |form| %>
                <%= button_tag "Reflex Form", id: "reflex-form-submit", type: "submit", class: "btn btn-accent btn-outline" %>
              <% end %>
            </td>
            <td>
              <small class="block mockup-code">
                <pre><code>&lt;form </code><code class="text-accent">data-turbo-reflex</code><code>='...'&gt;</code></pre>
                <pre><code>  &lt;button type="submit"&gt;Reflex Form&lt;button&gt;</code></pre>
                <pre><code>&lt;form&gt;</code></pre>
              </small>
            </td>
            <td>
              This is a reflex <kbd class="kbd kbd-sm text-accent">&lt;form&gt;</kbd> inside a Turbo Frame.
              <small class="block font-light opacity-75">
                Submit should trigger a reflex and then reload the frame's content.
              </small>
            </td>
          </tr>
        <% end %>
      </div>
    <% end %>

  <% end %>
<% end %>
