<%= render "components/demo", title: "RPC over HTTP", subtitle: "Perform a Remote Procedure Call over HTTP" do %>
  <div class="grid grid-cols-1 w-full gap-2">
    <%= render "components/stats" do %>
      <%= render "components/stat", id: "stat-fingerprint", title: "Request Fingerprint", value: SecureRandom.alphanumeric(6).upcase, value_class: "font-mono" %>
      <%= render "components/stat", id: "stat-method", title: "HTTP Method", value: request.method, value_class: token_list("text-primary": request.get?, "text-secondary": !request.get?) %>
      <%= render "components/stat", id: "stat-reflex-requested", title: "Reflex Requested", value: turbo_reflex_requested?.to_s.upcase, value_class: token_list("text-success": turbo_reflex_requested?) %>
      <%= render "components/stat", id: "stat-reflex-performed", title: "Reflex Performed", value: turbo_reflex_performed?.to_s.upcase, value_class: token_list("text-success": turbo_reflex_performed?) %>
    <% end %>

    <% content_for :table_head, render("components/table_head", columns: ["", "Demo", "Code", "Description"]) %>
    <%= render "components/table" do %>
      <% # Standard Link .................................................................................. %>
      <tr>
        <td>1</td>
        <td>
          <%= link_to "RPC over HTTP", "#", data: { turbo_reflex: "RpcOverHttpReflex#perform", turbo_frame: "turbo-reflex-frame" } %>
        </td>
        <td>
          <small class="block mockup-code">
            <pre><code>&lt;a href='...'&gt;</code></pre>
          </small>
        </td>
        <td>
          This is a standard link <kbd class="kbd kbd-sm text-accent">&lt;a&gt;</kbd> inside a Turbo Frame.
          <small class="block font-light opacity-75">
            Click should reload the frame's content without triggering a reflex.
          </small>
        </td>
      </tr>
    <% end %>
  </div>
<% end %>
