<%= tag.li class: token_list(active: demos_controller?) do %>
  <%= button_tag type: "button", class: "sidebar[button]",
    aria: { controls: "sidebar-demos-links", expanded: demos_controller? },
    data: { collapse_toggle: "sidebar-demos-links" } do %>
    <%= render "icons/heroicons/play_circle", solid: true %>
    <span>Demos</span>
    <%= render "icons/heroicons/chevron_right", solid: true, class: "collapsed" %>
    <%= render "icons/heroicons/chevron_down", solid: true, class: "expanded" %>
  <% end %>

  <%= tag.ul id: "sidebar-demos-links", class: token_list("sidebar[links]", hidden: !demos_controller?) do %>
    <%= render "sidebars/link", label: "Basic Command", href: basic_command_path, icon: :command_line, active: controller_action?("basic_commands#show") %>
    <%= render "sidebars/link", label: "Tables", href: todos_path(demo: "tables"), icon: :command_line, active: params[:demo] == "tables" %>
    <%= render "sidebars/link", label: "Simple Form", href: todos_path(demo: "simple-form"), icon: :command_line, active: params[:demo] == "simple-form" %>
    <%= render "sidebars/link", label: "Complex Form", href: todos_path(demo: "complex-form"), icon: :command_line, active: params[:demo] == "complex-form" %>
    <%= render "sidebars/link", label: "Wizard Form", href: todos_path(demo: "wizard-form"), icon: :command_line, active: params[:demo] == "wizard-form" %>
    <%= render "sidebars/link", label: "More...", href: todos_path(demo: "more"), icon: :command_line, active: params[:demo] == "more" %>
  <% end %>
<% end %>
