<%= tag.li class: token_list(active: demos_controller?) do %>
  <%= button_tag type: "button", class: "sidebar[button]",
    aria: { controls: "sidebar-demos-links", expanded: demos_controller? },
    data: { collapse_toggle: "sidebar-demos-links" } do %>
    <%= render "heroicons/document_text" %>
    <span>Demos</span>
    <%= render "heroicons/chevron_right", class: "collapsed" %>
    <%= render "heroicons/chevron_down", class: "expanded" %>
  <% end %>

  <%= tag.ul id: "sidebar-demos-links", class: token_list("sidebar[links]", hidden: !demos_controller?) do %>
    <%= render "sidebars/link", label: "Basic Command", href: "#todo", icon: :command_line, active: controller_action?("#show") %>
    <%= render "sidebars/link", label: "Turbo Confirm", href: "#todo", icon: :command_line, active: controller_action?("#show") %>
    <%= render "sidebars/link", label: "Increment", href: "#todo", icon: :command_line, active: controller_action?("#show") %>
  <% end %>
<% end %>
