<%= tag.li class: token_list(active: docs_controller?) do %>
  <%= button_tag type: "button", class: "sidebar[button]",
    aria: { controls: "sidebar-docs-links", expanded: docs_controller? },
    data: { collapse_toggle: "sidebar-docs-links" } do %>
    <%= render "heroicons/document_text" %>
    <span>Docs</span>
    <%= render "heroicons/chevron_right", class: "collapsed" %>
    <%= render "heroicons/chevron_down", class: "expanded" %>
  <% end %>

  <%= tag.ul id: "sidebar-docs-links", class: token_list("sidebar[links]", hidden: !docs_controller?) do %>
    <%= render "sidebars/link", label: "Installation", href: installations_path, icon: :arrow_down_on_square_stack, active: controller_action?("installations#show") %>
    <%= render "sidebars/link", label: "Commands", href: todos_path, icon: :server_stack, active: false %>
    <%= render "sidebars/link", label: "Event Lifecycle", href: todos_path, icon: :cursor_arrow_rays, active: false %>
    <%= render "sidebars/link", label: "Event Delegates", href: todos_path, icon: :cursor_arrow_ripple, active: false %>
    <%= render "sidebars/link", label: "Instrumentation", href: todos_path, icon: :signal, active: false %>
    <%= render "sidebars/link", label: "GlobalID Attributes", href: todos_path, icon: :server_stack, active: false %>
    <%= render "sidebars/link", label: "State Management", href: todos_path, icon: :circle_stack, active: false %>
    <%= render "sidebars/link", label: "State Resolution", href: todos_path, icon: :circle_stack, active: false %>
    <%= render "sidebars/link", label: "Optimistic Updates", href: todos_path, icon: :circle_stack, active: false %>
  <% end %>
<% end %>
