<% cache do %>
  <% content_for :breadcrumbs do %>
    <%= render "breadcrumbs/divider" %>
    <%= render "breadcrumbs/breadcrumb", label: "Docs" %>
    <%= render "breadcrumbs/divider" %>
    <%= render "breadcrumbs/breadcrumb", label: "Installation", active: true %>
  <% end %>

  <section class="p-4 my-12 mx-auto max-w-screen-xl">
    <div class="mx-auto space-y-4 max-w-2xl text-center">
      <h2 class="text-4xl font-extrabold tracking-tight leading-tight text-gray-900 sm:text-5xl dark:text-white">
        Installation and Configuration
      </h2>
      <p class="text-base font-normal text-gray-400 sm:text-xl dark:text-gray-500">
        How to install and configure both the Ruby GEM and NPM package
      </p>
    </div>

    <div class="mt-12 space-y-8 lg:space-y-12">
      <%= render "instructions/instruction", step: 1, heading: "Add the GEM to your Gemfile" do %>
        <%= render "examples/example", language: :sh, path: "$ command line", source: "bundle add turbo_boost-commands" %>
        <p class="!mt-6">The command above adds this to the Gemfile.</p>
        <%= render "examples/example", language: :rb, erb: true, path: "Gemfile", source_path: "app/views/installations/source_code/_gemfile.rb.erb" %>
      <% end %>

      <%= render "instructions/instruction", step: 2, heading: "Add the NPM packages to your package.json file" do %>
        <%= render "examples/example", language: :sh, path: "$ command line", source_path: "app/views/installations/source_code/_yarn_add.sh.erb" %>
        <p class="!mt-6">The command above adds this to package.json.</p>
        <%= render "examples/example", language: :json, erb: true, path: "package.json", source_path: "app/views/installations/source_code/_package.json.erb" %>

        <%= render "alerts/info", message: "Alternately pin the JavaScript package to your config/importmap.rb file." %>
        <%= render "examples/example", language: :sh, path: "$ command line", source_path: "app/views/installations/source_code/_importmap_pin.sh.erb" %>
        <p class="!mt-6">The command above adds this to importmap.rb.</p>
        <%= render "examples/example", language: :rb, erb: true, path: "config/importmap.rb", source_path: "app/views/installations/source_code/_importmap.rb.erb" %>
      <% end %>

      <%= render "instructions/instruction", step: 3, heading: "Configure your JavaScript app" do %>
        <%= render "examples/example", language: :js, path: "app/javascript/application.js", source_path: "app/views/installations/source_code/_application.js.erb" %>
        <%= render "alerts/warning", message: "Be sure to add TurboBoost Commands after the Turbo import." %>
      <% end %>

      <%= render "instructions/instruction", step: 4, heading: "Configure your Rails app" do %>
        <%= render "examples/example", language: :erb, path: "app/views/layouts/application.html.erb", source_path: "app/views/installations/source_code/_application.html.erb" %>
        <%= render "alerts/warning", message: "You may need to configure additional layout files." %>
        <%= render "examples/example", language: :rb, path: "config/initializers/turbo_boost.rb", source_path: "config/initializers/turbo_boost.rb" %>
      <% end %>

      <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400">
        <strong class="text-bold">That's it!</strong>
        You're ready to start using TurboBoost Commands. 🙌
      </p>
    </div>
  </section>

  <%= render "cards/sponsor" %>
<% end %>
