<section>
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
    <div class="max-w-2xl mx-auto space-y-4 text-center">
      <h2 class="text-4xl font-extrabold leading-tight tracking-tight text-gray-900 sm:text-5xl dark:text-white">
        Installation and Configuration
      </h2>
      <p class="text-base font-normal text-gray-500 sm:text-xl dark:text-gray-400">
        We'll cover installing and configuring both the Ruby GEM and the NPM package.
      </p>
    </div>

    <div class="max-w-5xl mx-auto mt-8 space-y-16 sm:mt-12 lg:mt-16">
      <div class="space-y-8 lg:space-y-12">
        <%= render "instructions/instruction", step: 1, heading: "Add the GEM to your Gemfile" do %>
          <%= render "examples/example", language: :sh, path: "$ command line", source: "bundle add turbo_boost-commands --version #{TurboBoost::Commands::VERSION}" %>
          <p class="!mt-6">The command above adds this to the Gemfile.</p>
          <%= render "examples/example", language: :rb, erb: true, path: "Gemfile", source_path: "app/views/installations/source_code/_gemfile.rb.erb" %>
        <% end %>

        <%= render "instructions/instruction", step: 2, heading: "Add the NPM package to your package.json file" do %>
          <%= render "examples/example", language: :sh, path: "$ command line", source: "yarn add @turbo-boost/commands@#{TurboBoost::Commands::VERSION}" %>
          <p class="!mt-6">The command above adds this to package.json.</p>
          <%= render "examples/example", language: :json, erb: true, path: "package.json", source_path: "app/views/installations/source_code/_package.json.erb" %>

          <%= render "alerts/info", message: "Alternately pin the JavaScript package to your config/importmap.rb file." %>
          <%= render "examples/example", language: :sh, path: "$ command line", source: "bin/importmap pin @turbo-boost/commands@#{TurboBoost::Commands::VERSION}" %>
          <p class="!mt-6">The command above adds this to importmap.rb.</p>
          <%= render "examples/example", language: :rb, erb: true, path: "config/importmap.rb", source_path: "app/views/installations/source_code/_importmap.rb.erb" %>
        <% end %>

        <%= render "instructions/instruction", step: 3, heading: "Configure your JavaScript app" do %>
          <%= render "examples/example", language: :js, path: "app/javascript/application.js", source_path: "app/views/installations/source_code/_application.js.erb" %>
          <%= render "alerts/warning", message: "Be sure to add TurboBoost Commands after the Turbo import." %>
        <% end %>

        <%= render "instructions/instruction", step: 4, heading: "Configure your Rails app" do %>
          <%= render "examples/example", language: :erb, path: "app/views/layouts/application.html.erb", source_path: "app/views/installations/source_code/_application.html.erb" %>
          <%= render "alerts/warning", message: "You may need to configure additional layout files." %>
        <% end %>

        <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400">
          That's it! You're ready to start using TurboBoost Commands. 🚀
        </p>
      </div>
    </div>
  </div>
</section>
