<%= turbo_frame_tag "basic_command-demo" do %>
  <section>
    <h2>Counter</h2>

    <p>
      For this demo, we'll store the value or "state" in the markup itself.
      Then we'll send the value to the server when we invoke the Commands.
      Finally we can use the value when we re-render the Turbo Frame.
    </p>

    <code><%= padded_number @count %></code>

    <div>
      <button
        data-turbo-command="Increment"
        data-value="<%= @count %>">
        <%= render "heroicons/plus" %> Increment
      </button>

      <button
        data-turbo-command="Increment"
        data-value="<%= @count %>"
        data-turbo-confirm="Are you sure?">
        <%= render "heroicons/plus" %> Increment with Confim
      </button>

      <button
        data-turbo-command="Decrement"
        data-value="<%= @count %>">
        <%= render "heroicons/minus" %> Decrement
      </button>
    </div>
  </section>
<% end %>
