<div class="relative flex items-start my-2">
  <div class="flex h-5 items-center">
    <input disabled <%= "checked" if checked %> aria-describedby="comments-description" name="<%= label.parameterize %>" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
  </div>
  <div class="ml-3 text-sm">
    <label for="<%= label.parameterize %>" class="font-medium <%= token_list "text-gray-700": !checked, "text-indigo-600": checked %>"><%= label %></label>
    <span id="<%= "#{label.parameterize}-description" %>" class="<%= token_list "text-gray-500": !checked, "text-indigo-400": checked %>"><%= description %></span>
  </div>
</div>
